<div>
  <button (click)="openDialog()" class="header-button btn btn-primary m-1 flex-fill" style="min-width: 100px;">EventIDQuery</button>
  <span>{{ resultMessage }}</span>
</div>

<div *ngIf="showDialog" id="overlay"></div>
<div *ngIf="showDialog" id="popup">
  <h3>Event ID Query</h3>
  <label for="serviceName">Event Log:</label>
  <select [(ngModel)]="LogName">
    <option value="system">System</option>
    <option value="security">Security</option>
    <option value="application">Application</option>
    <option value="setup">Setup</option>
  </select><br />

  <label for="computerName">Event Type:</label>
  <select [(ngModel)]="EventType">
    <option value="any">Any</option>
    <option value="error">Error</option>
    <option value="warning">Warning</option>
    <option value="information">Information</option>
    <option value="critical">Critical</option>
    <option value="verbose">Verbose</option>
    <option value="audit-success">Audit Success</option>
    <option value="audit-failure">Audit Failure</option>
  </select><br />

  <label for="computerName">Event ID's(Optional):</label>
  <input type="text" [(ngModel)]="EventIDs" /><br />

  <label for="computerName">Start Date:</label>
  <input type="text" [(ngModel)]="StartDate" [disabled]="useCurrentDate" />
  <button *ngIf="!useCurrentDate" (click)="openDatePicker('start')"></button><br />

  <label for="computerName">End Date:</label>
  <input type="text" [(ngModel)]="EndDate" [disabled]="useCurrentDate" />
  <button *ngIf="!useCurrentDate" (click)="openDatePicker('end')"></button><br />

  <label for="useCurrentDate">Use Current Date:</label>
  <input type="checkbox" [(ngModel)]="useCurrentDate" (change)="updateDates()" /><br />

  <label for="computerName">Event Source(Optional):</label>
  <input type="text" [(ngModel)]="EventSource" /><br />

  <button (click)="submitRequest()">Submit</button>
  <button (click)="closeDialog()">Cancel</button>
</div>